<%- include('../partials/header') %>
<section>
    <div>
    <h5 id="name-show"><%=task.createdBy.name%></h5>
    <h5 id="catagory-show"><%=task.catagory%></h5>
    <h5 id="details-show"><%=task.details%></h5>
    <h5 id="price-show"> $ <%=task.price%></h5>
    <%console.log("user: " + user.id + "created by: " + task.createdBy.id)%>
    <% if (user.id === task.createdBy.id) { %>
    <!-- <form action="/users//edit" method="GET"> -->
    <a href="/users/<%=task.id%>/edit"><button class="btn waves-effect waves-light" type="submit">EDIT POST</button></a>
    <!-- </form>  -->
    <form action="/users/<%=task.id%>?_method=DELETE" method="POST">
    <button class="btn waves-effect red" type="submit">DELETE POST</button>
    </form>
    <%} else {%>
    <form id="show-form" action="/tasks/send/<%=task.id%>" method="POST">
    <label>Send the user an email to inquire</label>
    <!-- <input type="email" name="email" placeholder="email"> -->
    <label>Message</label>
    <input type="text" name="message">
    <button class="btn waves-effect waves-light" type="submit">Inquire</button>
    </div>
    </form>
<%}%>
</section>
<%- include('../partials/footer') %>